.wrapper_with_padding
	%h2 The purpose of your logbook is:
	%ul
		%li to record what you have learnt about your work environment and your employers vision
		%li to identify early what you aim to achieve personally from this experience
		%li to record daily the tasks you are engaging in, interesting events, difficulties encountered andsolutions (if any) to those difficulties that you have or may try.
	%p Your interim reports and your final report will draw on this material as you reflect on the experience and identify changes in your skills, approaches to problems and relationships with colleagues and supervisors.

	%h2 Suggested logbook entries
	%p In essence four questions to be answered daily. They do not all have to be answered. Some days will be forgotten or completed in hindsight with students catching up on several days all at once.

	%p Suggested text for the four questions:
	%ul
		%li What types of tasks and activities did you do today?
		%li What progress are you making toward your SMART learning goals?
		%li What progress are you making towards your work objectives?
		%li With regards to problems or obstacles, what action could/have you taken to overcome them?

	%h2 Editing posts
	%p Posts can only be edited within the first 3 days of posting to prevent whitewashing the journal at the end of the project. If a post really needs to be edited after this 3 day period then you can contact an admin to have it changed.


	%button= link_to "Return to Notes", notes_path