.wrapper_with_padding
	%h2 ALERT:
	%p You can only edit a post within the first 3 days of posting it (this is to prevent whitewashing of your journal at the end of the project). Contact an admin if you really need to edit this.
	%button= link_to "Return to Notes", notes_path