.wrapper_with_padding
	%h1 Profile

	%p Please fill out the following information in a text document on your computer. Ideally you could do this online but due to time constraints we could not set this up for you.

	%p <b>Student details:</b> full name, student ID, course code, year and trimester, student contact details (personal email and phone).

	%p <b>Company details:</b> company name, address, brief (160 char limit?) description of the companies niche, start/end dates of the long-running work placement or project, supervisor name, supervisor contact details (work email, phone), hours of work, dress code, induction completed date, Health and Safety brief completed date, name of mentor (non-supervisor voice of experience who can field the ‘dumb’ questions all new staff have)

	%p <b>Company overview:</b> This is a short description (say 500 words or so). Suggested helper text;<i>Briefly explain your work placement organisation.</i>

	%p You could include information on:
	%ul
	%li what service or product they offer
	%li who are their customers
	%li how many staff do they have (what do they do)
	%li what geographical area do they service
	%li who are the key people
	%li who is the competition 
	%li how is the business organised

	%p <b>Personal learning outcomes</b> 
	
	%p <i>Identify what you would like to get out of your work placement by setting SMART objectives. 
	
	%p Include 2-3 transferable or soft skills drawn from either Victoria University’s Graduate Profilehttp://www.victoria.ac.nz/learning-teaching/learning-partnerships/graduate-profile or the School ofEngineering’s graduate profile https://ecs.victoria.ac.nz/Main/GraduateAttributesInclude 

	%p 1 technical skill such as a language or a framework. 

	%p SMART objectives are:
	%ul 
	%li Specific
	%li Measurable
	%li Achievable
	%li Realistic 
	%li and Time bound </i>

	%p

	%button= link_to "Return to Notes", notes_path
