#banner
	.banner_content
		%h1 LOGSTEAM
		%p Your online industry experience logbook. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "You'll make the biggest most satisfying logs ever. Period."
		%p.name - Logan McLogface
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Logs
				%p Create and store timely logs to track your industry experience. Revisit old logs to see if they are still steamy!

			.callout
				%h2 Goals
				%p Define your work goals early. Use your logs as fuel and a reminder to stay on target. After all, too many cooks spoil the log. 

			.callout
				%h2 Connection
				%p Stay connected with your faculty and employer while training on the job. Let them enjoy the steam from your logs and provide you with live feedback. 
#bottom_cta
	.wrapper
		%h2 Seriously
		%p You won't log your experience if you don't pinch a log with us!
		%button= link_to "Sign Up", new_user_registration_path

%footer
	%p &copy; The Tainters Group 1